<% provide(:title, "About Us") %>
<h1>About Us</h1>
<p>WE LOVE WHAT WE DO AND WE DO WHAT WE LOVE</p>
<p>
	<a href="mailto:jporrello@gmail.com? Subject=I%20need%20help">Contact Jesus Porrello for help</a>
</p>