<% provide(:title, "Welcome") %>
<h1>Home</h1>
<p>Welcome to our home page</p>
<br/>
<p><%= get_season() %></p>
<p><%= get_random_number(50) %></p>
<p><%= get_randome_welcome() %></p><br>
<p><%= count_to_10() %></p>

